# Backend
backend/__pycache__/
backend/**/__pycache__/
backend/.venv/
backend/venv/
backend/*.pyc
backend/**/*.pyc
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# OS specific
.DS_Store
